SECRET_KEY=your-secret-key-here
DEBUG=True
GEMINI_API_KEY=your-gemini-api-key-here
#DATABASE_URL=postgresql://postgres.nbzzjuzbnrvqtsxpvltn:bxuinfykoP3.@aws-0-ap-south-1.pooler.supabase.com:6543/postgres